.container
  %h2.text-center
    = t '.title'
  %br
  .col-md-6.col-md-offset-3.well.bs-component
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'} ) do |f|
      = devise_error_messages!
      .fieldset
        .col-md-8.col-md-offset-2
          .form-group
            = f.label :email, class: 'control-label'
            = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            = f.label :name, class: 'control-label'
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :password, class: 'control-label'
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-group
            = f.label :password_confirmation, class: 'control-label'
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          .form-group.text-center
            = f.submit t('.submit'), class: 'btn btn-primary btn-raised'
            = link_to t('.log_in'), new_session_path(resource_name), class: 'btn btn-default btn-raised'
