%table.table.table-striped.table-hover
  %thead
    %tr
      %th
        = Transaction.human_attribute_name(:created_at)
      %th
        = Transaction.human_attribute_name(:type)
      %th
        = Transaction.human_attribute_name(:source_account)
      %th
        = Transaction.human_attribute_name(:target_account)
      %th
        = Transaction.human_attribute_name(:value)
      %th
        = Transaction.human_attribute_name(:taxes)
  %tbody
    - @transactions.each do |transaction|
      %tr
        %th
          = l(transaction.created_at, format: :short)
        %th
          = transaction.class.model_name.human
        %th
          = transaction.source_account.nil? ? '' : transaction.source_account.email
        %th
          = transaction.target_account.nil? ? '' : transaction.target_account.email
        %th
          = transaction.value
        %th
          = transaction.taxes
