.container
  %h2.text-center
    = t '.title'
  %br
  .col-md-6.col-md-offset-3.well.bs-component
    = form_for(@statement, html: {class: 'form-horizontal'} ) do |f|
      = render_error_messages(@statement)
      .fieldset
        .col-md-8.col-md-offset-2
          .form-group
            = f.label :start_date, class: 'control-label'
            = f.text_field :start_date, class: 'form-control datepicker'
          .form-group
            = f.label :end_date, class: 'control-label'
            = f.text_field :end_date, class: 'form-control datepicker'
          .form-group.text-center
            = f.submit t('.submit'), class: 'btn btn-primary btn-raised'
