.container
  %h2.text-center
    = t '.title'
  %br
  .col-md-6.col-md-offset-3.well
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'} ) do |f|
      .fieldset
        .col-md-8.col-md-offset-2
          .form-group
            = f.label :email, class: 'control-label'
            = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            = f.label :password, class: 'control-label'
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-group.text-center
            = f.submit t('.submit'), class: 'btn btn-primary btn-raised'
            = link_to t('.sign_up'), new_registration_path(resource_name), class: 'btn btn-default btn-raised'

  .col-md-6.col-md-offset-3.well
    %p.text-center
      = t('.deposit_text')
    .text-center
      = link_to t('.make_deposit'), new_deposit_path, class: 'btn btn-default btn-raised'
