.panel.panel-primary
  .panel-heading
    %h3.panel-title
      = t '.title'
  .panel-body
    = link_to t('.deposit'), new_deposit_path, class: 'btn btn-default btn-raised'
    %br
    = link_to t('.withdrawal'), new_withdrawal_path, class: 'btn btn-default btn-raised'
    %br
    = link_to t('.transfer'), new_transfer_path, class: 'btn btn-default btn-raised'
