.panel.panel-primary
  .panel-heading
    %h3.panel-title
      = t '.title'
  .panel-body
    = render 'statements/transactions', locals: { transactions: @transactions }
    .text-right
      = link_to t('.generate_statement'), new_statement_path, class: 'btn btn-default btn-raised'
