.panel.panel-inverse
  .panel-heading
    %i{class:"fa fa-user"}
    = t '.title'
  .panel-body
    .col-md-9
      = Account.human_attribute_name(:email) + ': '
      = current_account.email
      %br
      = Account.human_attribute_name(:name) + ': '
      = current_account.name
      %br
    .col-md-3
      = link_to(t('.edit_account'), edit_account_registration_path, class: 'btn btn-default btn-raised')
      %br
      = link_to(t('.terminate_account'), account_registration_path, method: :delete, class: 'btn btn-default btn-raised', data: {confirm: t(:are_you_sure)})
