body {
    padding-top: 65px;
}

.form-horizontal .form-group {
  margin-top: 0px;
  .btn {
    margin-top: 30px;
    margin-right: 15px;
  }
}

nav.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #044;
}
