.container
  %h2.text-center
    = transaction_title(@transaction)
  %br
  .col-md-6.col-md-offset-3.well.bs-component
    = form_for(@transaction, html: {class: 'form-horizontal'} ) do |f|
      = render_error_messages(@transaction)
      .fieldset
        .col-md-8.col-md-offset-2
          - if show_source_id?(@transaction) && !account_signed_in?
            .form-group
              = f.label :source_account_email, class: 'control-label'
              = f.text_field :source_account_email, autofocus: true, class: 'form-control'
          - if show_target_id?(@transaction)
            .form-group
              = f.label :target_account_email, class: 'control-label'
              = f.text_field :target_account_email, autofocus: true, class: 'form-control'
          .form-group
            = f.label :value, class: 'control-label'
            = f.text_field :value, autofocus: value_autofocus?(@transaction), class: 'form-control'
          .form-group.text-center
            = f.submit transaction_title(@transaction), class: 'btn btn-primary btn-raised'
