%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        = t('.title')
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if account_signed_in?
          %li
            = link_to(t('.log_out'), destroy_account_session_path, :method => :delete)
        - else
          %li
            = link_to(t('.log_in'), new_account_session_path)
