<!DOCTYPE html>
%html
  %head
    %title
      Sistema Banco
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = render 'layouts/messages'
    = yield

  %script
    $.material.init();
    initializeDatepicker();
